<a href="https://colab.research.google.com/github/cybercat37794/ML-projects/blob/main/Car%20Driving%20Risk%20Prediction/Car_driving_risk_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
# importing library
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import linear_model

In [9]:
df = pd.read_csv('https://raw.githubusercontent.com/cybercat37794/ML-projects/main/Car%20Driving%20Risk%20Prediction/car%20driving%20risk%20analysis.csv')

In [10]:
df

    speed  car_age  experience  risk
0     200       15         5.0    95
1      90       17        13.0    20
2     300       12         5.0    98
3     110       20         4.0    60
4     240        5         NaN    72
5     115        2         2.0    10
6      50        3         6.0     7
7     230        9         NaN    85
8     190        8         9.0    45
9     260       14         8.0    91
10    290        2        10.0    82
11    185       13        13.0    59
12    310       15        15.0    93
13     95       11         5.0    18
14     30       10        17.0     2

In [14]:
# filling the null value of experience with mean of the experience column values
df.experience = df.experience.fillna(df.experience.mean())

In [13]:
df.experience

0      5.000000
1     13.000000
2      5.000000
3      4.000000
4      8.615385
5      2.000000
6      6.000000
7      8.615385
8      9.000000
9      8.000000
10    10.000000
11    13.000000
12    15.000000
13     5.000000
14    17.000000
Name: experience, dtype: float64

In [15]:
df

    speed  car_age  experience  risk
0     200       15    5.000000    95
1      90       17   13.000000    20
2     300       12    5.000000    98
3     110       20    4.000000    60
4     240        5    8.615385    72
5     115        2    2.000000    10
6      50        3    6.000000     7
7     230        9    8.615385    85
8     190        8    9.000000    45
9     260       14    8.000000    91
10    290        2   10.000000    82
11    185       13   13.000000    59
12    310       15   15.000000    93
13     95       11    5.000000    18
14     30       10   17.000000     2

In [16]:
reg = linear_model.LinearRegression()

In [17]:
reg.fit(df[['speed', 'car_age', 'experience']], df.risk)

LinearRegression()

In [18]:
reg.predict([[160, 10, 7]])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"

array([49.80022288])